
@{
    ViewBag.Title = "Index";
}
<div class="row">

    <div class="col-md-3">
        <a href="#" onclick="goToCreate('/Projects/Create')" class="linkbtn"><span class="glyphicon glyphicon-plus space" aria-hidden="true"></span>Create new</a>
    </div>
    <div class="col-md-3 col-md-offset-6">
        <div class="input-group">
            <input type="text" id="search" placeholder="Search Project" style="height:32px!important" class="form-control">
            <span class="input-group-addon" id="btn" style="cursor:pointer">
                <button type="button" ><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<hr />
<div id="dataContainer">

    @*@using (Html.BeginForm())
    {
        <p>
            Search Project: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }*@
  @Html.Action("GetData")
</div>


@section Scripts
{
    
    <script>
        $(document).ready(function () {

            $("#btn").click(function () {
                $('#overlay').css('display', 'block');
                
                $.ajax({

                    type: "GET",
                    url: "/Projects/GetData?name=" + $("#search").val(),
                    success: function (data)
                    {
                        $('#overlay').css('display','none');
                        $('#dataContainer').html(data);
                        
                    },
                    error: function (){


                    }


                })

            })


        })



</script>
    }
