
@{
    ViewBag.Title = "Index";
}
<div class="row">

    <div class="col-md-3">
        <a href="#" onclick="goToCreate('/Projects/Create')" class="linkbtn"><span class="glyphicon glyphicon-plus space" aria-hidden="true"></span>Create new</a>
    </div>
    <div class="col-md-5 col-md-offset-4">
            <div class="input-group">            
            <input type="text" id="search" placeholder="Search Project" style="height:32px!important" class="form-control">
            <span class="input-group-addon" id="btn" style="cursor:pointer">
                <button type="button" id="search-btn" ><i class="fa fa-search"></i></button> 
            </span>
                <span class="input-group-addon" id="cancelbtn" style="cursor:pointer">
                  <button type="button" id="cancel-btn">clear Filter</button>
                </span>
              
        </div>        
     </div>
</div>
<hr/>
<div id="dataContainer">

    @*@using (Html.BeginForm())
    {
        <p>
            Search Project: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }*@
  @Html.Action("GetData")
</div>


@section Scripts
{
    
    <script>
        $(document).ready(function () {
            
            $("#search-btn").click(function () {
                debugger;
                var searchval = $("#search").val();
                console.log(searchval);
                $.ajax({

                    type: "GET",
                    url: "/Projects/GetData?name="+searchval,
                    success: function (data)
                    {
                        $('#overlay').css('display','none');
                        $('#dataContainer').html(data);
                        
                    },
                    error: function (){


                    }


                })

            })


        })

</script>
    }
<script>
    $(document).ready(function () {

        $("#cancelbtn").click(function () {

            $.ajax({

                type: "GET",
                url: "/Projects/GetData?name=" + "",
                success: function (data)
                {
                    $('#overlay').css('display', 'none');
                    $('#dataContainer').html(data);
                },
                error: function () { }



            })

        })

    })


</script>