
@{
    ViewBag.Title = "Index";
}
<input type="text" id="search" placeholder="Search Project" />
<button type="button" id="btn" class="btn btn-default">Search</button>


<div id="dataContainer">

    @*@using (Html.BeginForm())
    {
        <p>
            Search Project: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }*@
  @Html.Action("GetData")
</div>


@section Scripts
{
    
    <script>
        $(document).ready(function () {

            $("#btn").click(function () {

                $.ajax({

                    type: "GET",
                    url: "/Projects/GetData?name=" + $("#search").val(),
                    success: function (data)
                    {
                        $('#dataContainer').html(data);
                        console.log(data);
                    },
                    error: function (){


                    }


                })

            })


        })



</script>
    }
