USE [master]
GO
/****** Object:  Database [austin]    Script Date: 8/23/2016 7:51:10 AM ******/
CREATE DATABASE [austin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'austin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\austin.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'austin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\austin_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [austin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [austin]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Agreementofsales]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agreementofsales](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LengthofInitialDDPeriod] [nvarchar](max) NULL,
	[Lengthofextention] [nvarchar](max) NULL,
	[Numberofextension] [nvarchar](max) NULL,
	[Extensioncost] [nvarchar](max) NULL,
	[PurchasePrice] [nvarchar](max) NULL,
	[Seller] [nvarchar](max) NULL,
	[EscrowCompany] [int] NULL,
	[Titlecompany] [int] NULL,
	[AOSEffectiveDate] [datetime] NULL,
	[PurchaseDate] [datetime] NULL,
	[NextPayment] [datetime] NULL,
	[Extension1DueDate] [datetime] NULL,
	[Extension2DueDate] [datetime] NULL,
	[Extension3DueDate] [datetime] NULL,
	[Extension4DueDate] [datetime] NULL,
	[Extension5DueDate] [datetime] NULL,
	[Extension6DueDate] [datetime] NULL,
	[Extension7DueDate] [datetime] NULL,
	[Extension8DueDate] [datetime] NULL,
	[Extension9DueDate] [datetime] NULL,
	[Extension10DueDate] [datetime] NULL,
	[Extension11DueDate] [datetime] NULL,
	[Extension12DueDate] [datetime] NULL,
	[Project] [int] NULL,
 CONSTRAINT [PK_dbo.Agreementofsales] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Architect]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Architect](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ConstructionType]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConstructionType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK__Construc__3214EC27B777C6C7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Entities]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entities](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Project] [nvarchar](max) NULL,
	[LegalName] [nvarchar](max) NULL,
	[EINNumber] [nvarchar](max) NULL,
	[AccountingGLcode] [nvarchar](max) NULL,
	[AccountingJobCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Entities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Leases]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leases](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Project] [int] NOT NULL,
	[StartDate] [datetime] NULL,
	[MonthlyLease] [nvarchar](max) NULL,
	[AnnulaLease] [nvarchar](max) NULL,
	[TenantDueDilligenceDueDate] [datetime] NULL,
	[RentCommencementDate] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
	[Tenant] [int] NULL,
	[EndDate] [datetime] NULL,
	[TurnOverDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Leases] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lenders]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lenders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Lenders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Loans]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Lender] [int] NOT NULL,
	[Project] [int] NOT NULL,
	[Amount] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Loans] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[StoreNumber] [nvarchar](max) NULL,
	[PropertType] [int] NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Zip] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[ProjectManager] [int] NULL,
	[RealStateManager] [int] NULL,
	[ParaLegal] [int] NULL,
	[Sitesuperintendent] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
	[Architect] [int] NULL,
	[CivilEngineer] [int] NULL,
	[TrafficEngineer] [int] NULL,
	[ConstructionType] [int] NULL,
	[Municipality] [int] NULL,
	[StoreOpenDate] [datetime] NULL,
	[TaxParcelId] [nvarchar](max) NULL,
	[TenantReferenceName] [nvarchar](max) NULL,
	[PropertyPurchaseDate] [datetime] NULL,
	[FinalStoreAddress] [nvarchar](max) NULL,
	[FinalStoreCity] [nvarchar](max) NULL,
	[FinalStoreState] [nvarchar](max) NULL,
	[FinalStoreZip] [nvarchar](max) NULL,
	[FinalStoreCountry] [nvarchar](max) NULL,
	[FinalStorePhone] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sellers]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sellers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Company] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Jobtitle] [nvarchar](max) NULL,
	[WorkPhone] [nvarchar](max) NULL,
	[HomePhone] [nvarchar](max) NULL,
	[MobilePhone] [nvarchar](max) NULL,
	[Address1] [nvarchar](max) NULL,
	[Address2] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[ZIPPostal] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Webpage] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[Groups] [nvarchar](max) NULL,
	[Project] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Sellers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Job] [int] NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Company] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[WorkPhone] [nvarchar](max) NULL,
	[HomePhone] [nvarchar](max) NULL,
	[MobilePhone] [nvarchar](max) NULL,
	[Address1] [nvarchar](max) NULL,
	[Address2] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[ZIPcode] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Webpage] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[Group] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Staffs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tenants]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenants](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[ContactPerson] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[ContactPhone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[ZipCode] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Webpage] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tenants] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Company] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Job] [int] NULL,
	[WorkPhone] [nvarchar](max) NULL,
	[HomePhone] [nvarchar](max) NULL,
	[MobilePhone] [nvarchar](max) NULL,
	[Address1] [nvarchar](max) NULL,
	[Address2] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Zipcode] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Webpage] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[ServiceProvided] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Vendors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Agreementofsales] ON 

SET IDENTITY_INSERT [dbo].[Agreementofsales] OFF
SET IDENTITY_INSERT [dbo].[Architect] ON 

INSERT [dbo].[Architect] ([id], [name]) VALUES (1, N'Hart Architectural Services')
INSERT [dbo].[Architect] ([id], [name]) VALUES (2, N'CASCO')
SET IDENTITY_INSERT [dbo].[Architect] OFF
SET IDENTITY_INSERT [dbo].[ConstructionType] ON 

INSERT [dbo].[ConstructionType] ([ID], [Name]) VALUES (1, N'Pre-Engineered')
INSERT [dbo].[ConstructionType] ([ID], [Name]) VALUES (2, N'Block/Steel')
SET IDENTITY_INSERT [dbo].[ConstructionType] OFF
SET IDENTITY_INSERT [dbo].[Entities] ON 

INSERT [dbo].[Entities] ([ID], [Project], [LegalName], [EINNumber], [AccountingGLcode], [AccountingJobCode]) VALUES (2, N'test', N'test', N'tes', N'test', N'test')
INSERT [dbo].[Entities] ([ID], [Project], [LegalName], [EINNumber], [AccountingGLcode], [AccountingJobCode]) VALUES (3, N'8', N'PTV Alum Bank, LLC', N'01-12345', N'1-0002', N'1-0002-0002')
INSERT [dbo].[Entities] ([ID], [Project], [LegalName], [EINNumber], [AccountingGLcode], [AccountingJobCode]) VALUES (4, N'1', N'PTV Blairsville, LLC', N'61-1760357', N'1-0040', N'1-9999-0043')
SET IDENTITY_INSERT [dbo].[Entities] OFF
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([id], [Name]) VALUES (1, N'Real Estate Manager')
INSERT [dbo].[Jobs] ([id], [Name]) VALUES (2, N'Project Manager')
INSERT [dbo].[Jobs] ([id], [Name]) VALUES (3, N'Paralegal')
SET IDENTITY_INSERT [dbo].[Jobs] OFF
SET IDENTITY_INSERT [dbo].[Leases] ON 

INSERT [dbo].[Leases] ([ID], [Project], [StartDate], [MonthlyLease], [AnnulaLease], [TenantDueDilligenceDueDate], [RentCommencementDate], [Notes], [Tenant], [EndDate], [TurnOverDate]) VALUES (1, 2, CAST(N'2016-08-19 00:00:00.000' AS DateTime), N'12', N'12', CAST(N'2016-08-19 00:00:00.000' AS DateTime), CAST(N'2016-08-19 00:00:00.000' AS DateTime), N'qwe', 1, CAST(N'2016-08-19 00:00:00.000' AS DateTime), CAST(N'2016-08-26 00:00:00.000' AS DateTime))
INSERT [dbo].[Leases] ([ID], [Project], [StartDate], [MonthlyLease], [AnnulaLease], [TenantDueDilligenceDueDate], [RentCommencementDate], [Notes], [Tenant], [EndDate], [TurnOverDate]) VALUES (2, 15, NULL, N'8083.33', N'96999.96', CAST(N'2016-03-25 00:00:00.000' AS DateTime), NULL, NULL, 1, NULL, CAST(N'2016-09-26 00:00:00.000' AS DateTime))
INSERT [dbo].[Leases] ([ID], [Project], [StartDate], [MonthlyLease], [AnnulaLease], [TenantDueDilligenceDueDate], [RentCommencementDate], [Notes], [Tenant], [EndDate], [TurnOverDate]) VALUES (3, 19, NULL, N'9182', N'110184', NULL, NULL, NULL, 1, NULL, CAST(N'2017-05-10 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Leases] OFF
SET IDENTITY_INSERT [dbo].[Lenders] ON 

INSERT [dbo].[Lenders] ([ID], [Name]) VALUES (1, N'First National Bank')
INSERT [dbo].[Lenders] ([ID], [Name]) VALUES (2, N'M&T Bank')
INSERT [dbo].[Lenders] ([ID], [Name]) VALUES (3, N'Wes Banco')
SET IDENTITY_INSERT [dbo].[Lenders] OFF
SET IDENTITY_INSERT [dbo].[Loans] ON 

INSERT [dbo].[Loans] ([ID], [Lender], [Project], [Amount]) VALUES (1, 1, 3, N'8555')
INSERT [dbo].[Loans] ([ID], [Lender], [Project], [Amount]) VALUES (2, 1, 2, N'82295')
INSERT [dbo].[Loans] ([ID], [Lender], [Project], [Amount]) VALUES (3, 1, 40, N'120000')
SET IDENTITY_INSERT [dbo].[Loans] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[Sellers] ON 

INSERT [dbo].[Sellers] ([ID], [FirstName], [LastName], [Company], [Email], [Jobtitle], [WorkPhone], [HomePhone], [MobilePhone], [Address1], [Address2], [City], [State], [ZIPPostal], [Country], [Webpage], [Notes], [Groups], [Project]) VALUES (1, N'Tricia', N'Gizienski', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Business', 76)
INSERT [dbo].[Sellers] ([ID], [FirstName], [LastName], [Company], [Email], [Jobtitle], [WorkPhone], [HomePhone], [MobilePhone], [Address1], [Address2], [City], [State], [ZIPPostal], [Country], [Webpage], [Notes], [Groups], [Project]) VALUES (2, N'Thomas and Tina', N'Parsons', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Business', 15)
INSERT [dbo].[Sellers] ([ID], [FirstName], [LastName], [Company], [Email], [Jobtitle], [WorkPhone], [HomePhone], [MobilePhone], [Address1], [Address2], [City], [State], [ZIPPostal], [Country], [Webpage], [Notes], [Groups], [Project]) VALUES (3, N'Estate of Irene K. Noss', NULL, NULL, NULL, N'Louis S. Noss, III, Executor', NULL, NULL, NULL, N'9723 Route 22', NULL, N'Blairsville', N'PA', NULL, NULL, NULL, N'Please refer to Addendum for most recent Seller info added, hereto', N'Business', 1)
SET IDENTITY_INSERT [dbo].[Sellers] OFF
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([ID], [Job], [FirstName], [LastName], [Company], [Email], [WorkPhone], [HomePhone], [MobilePhone], [Address1], [Address2], [City], [State], [ZIPcode], [Country], [Webpage], [Notes], [Group]) VALUES (1, 2, N'Brian', N'Merdian', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Staffs] ([ID], [Job], [FirstName], [LastName], [Company], [Email], [WorkPhone], [HomePhone], [MobilePhone], [Address1], [Address2], [City], [State], [ZIPcode], [Country], [Webpage], [Notes], [Group]) VALUES (2, 2, N'David', N'Cook', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Staffs] ([ID], [Job], [FirstName], [LastName], [Company], [Email], [WorkPhone], [HomePhone], [MobilePhone], [Address1], [Address2], [City], [State], [ZIPcode], [Country], [Webpage], [Notes], [Group]) VALUES (3, 1, N'Ashley', N'Weinman', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Staffs] OFF
SET IDENTITY_INSERT [dbo].[Tenants] ON 

INSERT [dbo].[Tenants] ([ID], [CompanyName], [ContactPerson], [Email], [ContactPhone], [Address], [City], [State], [ZipCode], [Country], [Webpage], [Notes]) VALUES (1, N'Dollar General', N'Sean Caplan', N'scaplan@dollargeneral.com', N'111-111-1111', N'1234', N'Goodletsville', N'TN', N'12345', N'USA', N'www.dollargeneral.com', N'Chad Bayless current REM')
INSERT [dbo].[Tenants] ([ID], [CompanyName], [ContactPerson], [Email], [ContactPhone], [Address], [City], [State], [ZipCode], [Country], [Webpage], [Notes]) VALUES (2, N'Texas Roadhouse', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Tenants] ([ID], [CompanyName], [ContactPerson], [Email], [ContactPhone], [Address], [City], [State], [ZipCode], [Country], [Webpage], [Notes]) VALUES (3, N'Sheetz', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tenants] OFF
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([ID], [FirstName], [LastName], [Company], [Email], [Job], [WorkPhone], [HomePhone], [MobilePhone], [Address1], [Address2], [City], [State], [Zipcode], [Country], [Webpage], [Notes], [ServiceProvided]) VALUES (1, N'Matt', N'Nichols', N'Duffy and Nichols', NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Title Company')
INSERT [dbo].[Vendors] ([ID], [FirstName], [LastName], [Company], [Email], [Job], [WorkPhone], [HomePhone], [MobilePhone], [Address1], [Address2], [City], [State], [Zipcode], [Country], [Webpage], [Notes], [ServiceProvided]) VALUES (2, N'Nate', N'Hart', N'Hart Architectural Services', N'nhart@hartarc.com', 5, N'412-726-1941', NULL, NULL, N'3729 Parkview Avenue', NULL, N'Pittsburgh', N'Pa', N'15213', NULL, N'http://www.hartarc.com/', NULL, NULL)
INSERT [dbo].[Vendors] ([ID], [FirstName], [LastName], [Company], [Email], [Job], [WorkPhone], [HomePhone], [MobilePhone], [Address1], [Address2], [City], [State], [Zipcode], [Country], [Webpage], [Notes], [ServiceProvided]) VALUES (3, N'Christopher', N'Prisk', N'Langan', N'cprisk@Langan.com', 2, N'724.514.5154', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Vendors] OFF
/****** Object:  StoredProcedure [dbo].[sp_GetProjects]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetProjects]
as
begin
select Projects.*,
(pm.FirstName+' '+pm.LastName) as ProjectManagerName,
(RM.FirstName+' '+Rm.LastName) as RealStateManagerName,
(PL.FirstName+' '+PL.LastName) as ParaLegalName,
(SS.FirstName+' '+SS.LastName) as SiteSuperintendentName
 from Projects 
left join Staffs PM on Projects.ProjectManager=PM.ID
left join Staffs RM on Projects.RealStateManager =RM.ID
left join Staffs PL on Projects.ParaLegal=PL.ID
left join Staffs SS on projects.Sitesuperintendent=ss.ID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_getStaffs]    Script Date: 8/23/2016 7:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_getStaffs]
as
begin
   select s.*,j.name as Jobtitle from staffs  s  left join jobs j on s.Job=j.ID
end

GO
USE [master]
GO
