@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-3">
        <a href="/ConstructionTypes/Create" class="linkbtn"><span class="glyphicon glyphicon-plus space" aria-hidden="true"></span>Create new</a>
    </div>
    <div class="col-md-12 row-space"><hr /></div>
</div>

<div id="dataContainer">
    @Html.Action("GetData")
</div>

