
@model IEnumerable<AustinWeinman.Models.Entity>
@using GridMvc.Html

<div class="row">
    <div class="col-md-3">
        <a href="/Entities/Create" class="linkbtn"><span class="glyphicon glyphicon-plus space" aria-hidden="true"></span>Create new</a>
    </div>
    <div class="col-md-12 row-space"><hr /></div>
</div>
@Html.Grid(Model).Columns(columns =>
{

  columns.Add()
              .Encoded(false)
              .Sanitized(false)
              .SetWidth(30)
              .Css("hidden-xs") //hide on phones
              .RenderValueAs(c =>
                @<div id="balloon" class="balloonClass">
                    <b>
                        @*@Html.ActionLink("Edit", "Edit", new { id = c.ID }, new { @class = "modal_link", @Id = "editlink" })*@
                        <a href="/Entities/Edit?id=@c.ID" class="modal_link" id="editlink" data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="glyphicon glyphicon-pencil space" aria-hidden="true"></span></a>
                    </b>
                </div>);
  columns.Add()
         .Encoded(false)
         .Sanitized(false)
         .SetWidth(30)
         .Css("hidden-xs") //hide on phones
         .RenderValueAs(c =>
            @<div id="balloon" class="balloonClass">
                <b>
                    @*<a href="#" onclick="Deleteconfirm('@c.ID')">Delete</a>*@
                    <a href="#" onclick="confirmDelete('@c.ID','/Entities')" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon glyphicon-trash space" aria-hidden="true"></span></a>
                </b>
            </div>);

  columns.Add(c => c.ProjectName).Titled("Project");
  columns.Add(c => c.LegalName).Titled("Legal Name");
  columns.Add(c => c.EINNumber).Titled("EIN Number");
  columns.Add(c => c.AccountingGLcode).Titled("Accounting GL Code");
  columns.Add(c => c.AccountingJobCode).Titled("Accounting Job Code");


}).WithPaging(25).Sortable().Filterable().WithMultipleFilters()
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>


