@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="welcome-user">
            Hello&nbsp;!&nbsp;@User.Identity.GetUserName()
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
        </li>
        <li class="logoff">        
           <a href="javascript:document.getElementById('logoutForm').submit()"  class="modal_link loginLink" id="editlink" data-toggle="tooltip" data-placement="bottom" title="Logout"><img src="~/Images/logout.png" /></a>
        </li>
    </ul>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><img src="~/Images/logout.png" />@Html.ActionLink("Logoff", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@
}
