@model IEnumerable<AustinWeinman.Models.Upload>

<ul class="nonbullet" id="downloadfile">
    <li class="pull-left"><label> File Name</label></li>
    <li class="pull-left"><label>Action</label></li>
</ul>
<div class="row">
    <div class="col-md-12" id="listOfFile">
        @foreach (var item in Model)
        {
            <ul class="nonbullet">
                <li class="pull-left" id="Fname"><span class="file-name">@item.Name</span></li>
                <li class="pull-left"><a href="#" onclick="downloadFile('@item.ID')"><span class="glyphicon glyphicon-download"></span>Download</a></li>
                <li class="pull-left"><a href="#" onclick="deleteFile('@item.ID','@item.AgreementID')"><span class="glyphicon glyphicon-remove"></span>Delete</a></li>
            </ul>
        }
    </div>
</div>
<script>
    

    function deleteFile(id,agreementID)
    {
        if(confirm("are you sure you want delete?"))
        {
            $('#overlay').css('display','block');
            $.ajax({
                url:"/AgreementofSales/DeleteFiles",
                type: "POST",
                data:{ID:id},
                success:function(data)
                {
                    $("#dataContainer").load("/AgreementofSales/GetUploadedFiles?ID=" + agreementID);
                    $('#overlay').css('display','none');
                },
                error:function()
                {

                }


            });
        }
    }
</script>

